<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/marksman</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">12345</property>

        <property name="show_sql">True</property>
        <property name="format_sql">True</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="org.oleg_w570.marksman_game.PlayerInfo"/>
    </session-factory>
</hibernate-configuration>